<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>The Gifter</h1>
<a href="https://twitter.com/TheGifter?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @TheGifter</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <p>Spoiling Cam Models and other SWers</p>

<a class="twitter-timeline" data-width="320" data-height="400" data-dnt="true" data-theme="dark" href="https://twitter.com/TheGifter?ref_src=twsrc%5Etfw">Tweets by TheGifter</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        
        
      </header>
      <section>

        <blockquote class="twitter-tweet"><p lang="en" dir="ltr">I enjoy surprising cam models with gifts that they weren&#39;t expecting. At least once a month I&#39;ll choose a model / SWer that follows me &amp; send her something from her Amazon wish list, or a gift card. Just follow me (and be a model / SWer) to be eligible. No other strings attached.</p>&mdash; The Gifter (@TheGifter) <a href="https://twitter.com/TheGifter/status/986726463582949376?ref_src=twsrc%5Etfw">April 18, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <hr />
      {{ content }}

      </section>
      <footer>
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
